<mat-accordion *ngIf="posts.length > 0" multi="true">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <div class ="post-image">
      <img src="post.imagePath" [alt]="post.title">
    </div>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <a [routerLink]="['/edit','post']" color="primary" mat-button>Edit</a>
      <button (click)="onDelete(post.id)" color="warn" mat-button>Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="posts.length === 0" class="info-text mat-body-1">No Posts added yet</p>
